{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}
 
{% block body %}
<div class="container mt-4">

    <h1>Mot de passe oublié</h1>
    <p>Vous avez perdu votre mot de passe ?<br> Compléter le formulaire, un email vous sera envoyé.<br>Il contiendra la procédure à suivre pour récupérer votre mot de passe.</p>
    <form action="{{ path('app_forgotten_password') }}" method="post">

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="_username" placeholder="Email" class="form-control" required autofocus>
        </div>
 
        <button class="btn btn-primary" type="submit">Envoyer l'email</button>
 
    </form>
</div>
{% endblock %}