{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}
{% block body %}
<div class="container mt-4">
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messagedata, 'security') }}
        </div>
    {% endif %}

<h1>Réinitialisation du mot de passe</h1>
<p>Complétez le formulaire. Votre mot de passe sera alors réinitialiser.</p>
    <form method="post" action="{{ path('app_reset_password', {token: token}) }}">
        <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Nouveau mot de passe" required>
        </div>
        <div class="form-group">
                <label for="verification">Vérification</label>
                <input type="password" name="confirm_password" id="verification" class="form-control" placeholder="Retaper votre de passe" required>
        </div>

        <button class="btn btn-primary" type="submit">
            Modifier le mot de passe
        </button>
    </form>
</div>
{% endblock %}